body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1725px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1725px;
  height:90px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u979 {
  position:absolute;
  left:0px;
  top:0px;
  width:1725px;
  height:90px;
}
#u980 {
  position:absolute;
  left:2px;
  top:37px;
  width:1721px;
  visibility:hidden;
  word-wrap:break-word;
}
#u981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:67px;
}
#u981 {
  position:absolute;
  left:26px;
  top:10px;
  width:80px;
  height:67px;
}
#u982 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:45px;
}
#u983 {
  position:absolute;
  left:1463px;
  top:22px;
  width:1px;
  height:44px;
}
#u984 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u985 {
  position:absolute;
  left:1392px;
  top:22px;
  width:66px;
  height:44px;
}
#u986 {
  position:absolute;
  left:2px;
  top:14px;
  width:62px;
  word-wrap:break-word;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u987 {
  position:absolute;
  left:1486px;
  top:27px;
  width:28px;
  height:28px;
}
#u988 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1725px;
  height:346px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u989 {
  position:absolute;
  left:0px;
  top:311px;
  width:1725px;
  height:346px;
}
#u990 {
  position:absolute;
  left:2px;
  top:165px;
  width:1721px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u991 {
  position:absolute;
  left:69px;
  top:113px;
  width:252px;
  height:56px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u992 {
  position:absolute;
  left:2px;
  top:16px;
  width:248px;
  word-wrap:break-word;
}
#u993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#009900;
}
#u993 {
  position:absolute;
  left:106px;
  top:179px;
  width:184px;
  height:59px;
  font-size:20px;
  color:#009900;
}
#u994 {
  position:absolute;
  left:2px;
  top:18px;
  width:180px;
  word-wrap:break-word;
}
#u995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
}
#u995 {
  position:absolute;
  left:321px;
  top:179px;
  width:184px;
  height:59px;
  font-size:20px;
  color:#CCCCCC;
}
#u996 {
  position:absolute;
  left:2px;
  top:18px;
  width:180px;
  word-wrap:break-word;
}
