body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1725px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1725px;
  height:90px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1057 {
  position:absolute;
  left:0px;
  top:0px;
  width:1725px;
  height:90px;
}
#u1058 {
  position:absolute;
  left:2px;
  top:37px;
  width:1721px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:67px;
}
#u1059 {
  position:absolute;
  left:26px;
  top:10px;
  width:80px;
  height:67px;
}
#u1060 {
  position:absolute;
  left:2px;
  top:26px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:45px;
}
#u1061 {
  position:absolute;
  left:1463px;
  top:22px;
  width:1px;
  height:44px;
}
#u1062 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1063 {
  position:absolute;
  left:1392px;
  top:22px;
  width:66px;
  height:44px;
}
#u1064 {
  position:absolute;
  left:2px;
  top:14px;
  width:62px;
  word-wrap:break-word;
}
#u1065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1065 {
  position:absolute;
  left:1486px;
  top:27px;
  width:28px;
  height:28px;
}
#u1066 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1725px;
  height:346px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1067 {
  position:absolute;
  left:0px;
  top:803px;
  width:1725px;
  height:346px;
}
#u1068 {
  position:absolute;
  left:2px;
  top:165px;
  width:1721px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#0099FF;
}
#u1069 {
  position:absolute;
  left:343px;
  top:160px;
  width:151px;
  height:27px;
  font-size:28px;
  color:#0099FF;
}
#u1070 {
  position:absolute;
  left:2px;
  top:-3px;
  width:147px;
  word-wrap:break-word;
}
#u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:935px;
  height:2px;
}
#u1071 {
  position:absolute;
  left:349px;
  top:198px;
  width:934px;
  height:1px;
  font-size:36px;
}
#u1072 {
  position:absolute;
  left:2px;
  top:-8px;
  width:930px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:2px;
}
#u1073 {
  position:absolute;
  left:349px;
  top:198px;
  width:145px;
  height:1px;
  font-size:36px;
}
#u1074 {
  position:absolute;
  left:2px;
  top:-8px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:59px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1075 {
  position:absolute;
  left:733px;
  top:619px;
  width:163px;
  height:59px;
  font-size:18px;
  color:#FFFFFF;
}
#u1076 {
  position:absolute;
  left:2px;
  top:18px;
  width:159px;
  word-wrap:break-word;
}
#u1077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#B0B0B0;
}
#u1077 {
  position:absolute;
  left:725px;
  top:426px;
  width:193px;
  height:55px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#B0B0B0;
}
#u1078 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:135px;
}
#u1079 {
  position:absolute;
  left:764px;
  top:263px;
  width:114px;
  height:135px;
  opacity:0.5;
}
#u1080 {
  position:absolute;
  left:2px;
  top:60px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:35px;
}
#u1081 {
  position:absolute;
  left:800px;
  top:306px;
  width:46px;
  height:35px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u1082 {
  position:absolute;
  left:2px;
  top:10px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:28px;
  color:#A2DC39;
}
#u1083 {
  position:absolute;
  left:711px;
  top:530px;
  width:225px;
  height:34px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:28px;
  color:#A2DC39;
}
#u1084 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
