body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:398px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
}
#u1360 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  font-size:18px;
}
#u1361 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1362 {
  position:absolute;
  left:9px;
  top:38px;
  width:18px;
  height:18px;
}
#u1363 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
}
#u1364 {
  position:absolute;
  left:299px;
  top:34px;
  width:72px;
  height:24px;
}
#u1365 {
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u1366 {
  position:absolute;
  left:139px;
  top:37px;
  width:95px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1367 {
  position:absolute;
  left:0px;
  top:1px;
  width:95px;
  word-wrap:break-word;
}
#u1368 {
  position:absolute;
  left:2px;
  top:67px;
  width:396px;
  height:598px;
  overflow:hidden;
}
#u1368_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:598px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u1368_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#555555;
}
#u1369 {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#555555;
}
#u1370 {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  white-space:nowrap;
}
#u1371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#B0B0B0;
  text-align:center;
}
#u1371 {
  position:absolute;
  left:93px;
  top:25px;
  width:93px;
  height:18px;
  font-size:10px;
  color:#B0B0B0;
  text-align:center;
}
#u1372 {
  position:absolute;
  left:0px;
  top:2px;
  width:93px;
  word-wrap:break-word;
}
#u1373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#B0B0B0;
}
#u1373 {
  position:absolute;
  left:0px;
  top:25px;
  width:93px;
  height:18px;
  font-size:10px;
  color:#B0B0B0;
}
#u1374 {
  position:absolute;
  left:0px;
  top:2px;
  width:93px;
  word-wrap:break-word;
}
#u1375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#B0B0B0;
  text-align:center;
}
#u1375 {
  position:absolute;
  left:196px;
  top:25px;
  width:98px;
  height:18px;
  font-size:10px;
  color:#B0B0B0;
  text-align:center;
}
#u1376 {
  position:absolute;
  left:0px;
  top:2px;
  width:98px;
  word-wrap:break-word;
}
#u1377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:414px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#777777;
  line-height:28px;
}
#u1377 {
  position:absolute;
  left:0px;
  top:53px;
  width:358px;
  height:414px;
  font-size:13px;
  color:#777777;
  line-height:28px;
}
#u1378 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u1379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:33px;
}
#u1379 {
  position:absolute;
  left:141px;
  top:1822px;
  width:34px;
  height:33px;
}
#u1380 {
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#777777;
}
#u1381 {
  position:absolute;
  left:148px;
  top:1855px;
  width:20px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#777777;
}
#u1382 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
